body{
  background-color: #8083f1;
  font-family: courier;
}
#info{
  padding:.5em;
}
input{
  width:7rem;
}
table{
  border-collapse:collapse;
  
}
td{
  width:3px;
  height:3px;
  border: solid 1px black
}
.alive{
  background-color: red;
}
.dead{
  background-color: black;
}